<% include partials/header %>

  <% if(username) { %>
    <form class="signout-page" action="/signout" method="post">
      <input type="submit" value="Signout">
    </form>

    <% } else {  %>
      <form class="signup-page" action="/users/new" method="get">
        <input type="submit" value="Signup">
      </form>
<% }; %>

<h1>MakersBnB</h1>

  <% if(username) { %>
<h2>   Hello <%= username %> </h2>

<div class="input">
  <form action="/listing" method="post">
    <label for="title"> Title: </label>
    <input type="text" name="title">
    <label for="price">Price per night:</label>
    <input type="text" name="price">
    <label for="description">Description:</label>
    <input type="text" name="description">
    <label for="contact">Contact email:</label>
    <input type="text" name="contact">
    <input type="submit" value="Submit">
  </form>
</div>

<div class="lisings">
  <% } %>
  <ul>
  <% listings.forEach(function(listing) { %>
    <li>
      <%= listing.name %><br>
      <%= listing.description %><br>
      £<%= listing.price %><br>
      <%= listing.contact %>
    </li>
    <br>
    <% }) %>
  </ul>
</div>

<% include partials/footer %>
